.item{
    width: 250px;
    height: 250px;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    white-space: normal;
    justify-content: end;
    background-color: unset;

}   

.icon{
    background-color: unset;
    flex: 1;
    width: 35%;
    object-fit: contain;
}

.descslide{
    background-color: unset;
    font-weight: 400;
    font-size: 1.5rem;
    display: inline-block;
    justify-content: end;
    flex-direction: column;
    color: #fff;
    white-space: normal;
}

.descslide span{
    background-color: unset;
    font-weight: 700;
    white-space: normal;

}


