.body-signup{
    display: flex;
    background-image: url("../../assets/images/teste.png");
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    justify-content: flex-end;
}

.taylor{
    height: 100vh;
    object-fit:cover;
    width: 50vw;

    /* filter: blur(3px); */
}

@keyframes show {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 50%;
        opacity: 1;
    }
}

@keyframes showTitle {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.formdata-signup{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    background-color: unset;
    flex-direction: column;
}

.logo{
    margin-top: 10%;
    object-fit: contain;
    width: 30%;
    background-color: unset;
}

.input-nome{
    margin-top: 8%;
    animation: show 1s;
}

.input-email{
    margin-top: 5%;
    animation: show 1s;
}

.title-sign{
    color: #aaa;
    margin-top: 4%;
    font-weight: 400;
    animation: showTitle 1s;
}

.letrinhas{
    margin-top: 1%;
    background-color: unset;
    color: #444;
    width: 50%;
    font-size: .7rem;
    font-weight: 300;
    animation: showTitle 1s;

}

.input-salario{
    margin-top: 1%;
    animation: show 1s;

}

.botao{
    animation: showTitle 1s;
}

.input-files{
    animation: showTitle 1s;
}

.input-password{
    animation: show 1s;
    margin-top: 5%;
}

.input-disabled{
    animation: show 1s;
    margin-top: 3%;
}

.input-disabled input{
    color: #666;
}

.input-cep{
    animation: show 1s;
    margin-top: 3%;
}