.textMenu{
    margin-left: 15%;
    color: #FFF;
    font-size: 17.324px;
    font-style: normal;
    font-weight: 600;
    line-height: 117%; /* 20.269px */
    letter-spacing: 1.732px; 
    background-color: unset;
}

.menu{
    margin-left: 10%;
    align-items: center;
    display: flex;
    width: fit-content;
    text-decoration: none;
    background-color: unset;
}